.backround{
    background-image: url("sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
    position:relative;
}

.modal-body{
    text-align: center;
}

#current-tab-pane{
    padding: 1%;
}

.map {
    height: 400px;
    width: 100%;
   }

#myTabContent{
    background-color: white;
    text-align: center;
}

h1{
    color:white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 0%;
}

#div1{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.3);
    margin:auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right:1%;
    border-radius: 10px;

}


.nav-tabs .nav-item .nav-link {
    background-color: #0080FF;
    color: #FFF;
  }
  
.nav-tabs .nav-item .nav-link.active {
    color: #0080FF;
    background-color: white;
}


#icon{
    width:20%;
    margin-top:5%;
}

#retable{
    margin-top: -2%;
}

#results{
    width:90%;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}

#temp{
    font-size: 200%;
}

#card{
    width:90%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 1%;
}

hr{
    width:90%;
    margin-right:auto;
    margin-left:auto;
}

#btn-col{
    margin-top:2%;
    margin-left: -7%;
}

#btn1{
    margin-right:10%
}

.mspan{
    color:black;
}

#future-tab-pane{
    padding: 1%;
}

#btn2{
    margin-right:5%
}

span{
    color:red;
}

.hiddenp{
    font-size:small;
    color:red;
    opacity: 0;
}


/* #img1{
    justify-content: center;
    width: 100%;
    height:auto;
} */